body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 200px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #results {
    width: 500px;
    margin: 0 auto;
  }