
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .bg-image{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-size: cover;
  }

.result-content {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.result-content-img {
border: 3px solid white;
margin: 10px;
}

.the-img {
  box-shadow:5px 5px 0 #222;
}

.page-button{
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffffff;
  background-size: 12px, 100%;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  margin: 10px;
  border-radius: 5px;
  font-family: "rock salt", cursive;
  font-weight: 900;
  padding: 5px;
  cursor: pointer;
}

.wrapper-movie {
  background-image: url('../images/captainam.jpg');
  background-size: 100%, auto;
}

.wrapper-char {
  background-image: url('../images/hulk-1.jpg');
  background-size: 100%, auto;
}

.wrapper-comics{
  background-image: url('../images/spiderman-8.jpg');
  background-size: 100%, auto;
}

.wrapper-char-page{
  background-image: url('../images/deadpool-1.jpg');
  background-size: 100%, auto;
}

.wrapper-page {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.wrapper-fav{
  background-image: url('../images/venom-1.jpg');
  background-size: 100%, auto;
}

.result-box {
  display: flex;
  flex-wrap: wrap;
}

.result-item {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.result-item img {
  max-width: 100%;
  height: auto;
}

.result-fav-item{
  width: 300px;
  height: 500px;
  margin: 10px;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
  #fff;
  background-size: 12px, 100%;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  color: black;
  overflow: auto;
  font-weight: 900;
}

.fav-page-title {
  font-weight: 900;
}

#page-title {
  font-family: "rock salt", cursive;
  color:#ffcd28;
}

#search-input {
  width: 70%;
  padding: 10px;
  font-size: 20px;
  background:#ddd;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  /* margin: 5px; */
  border-radius: 5px;
}

#favorites-button {
transform: rotate(2deg);
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  font-family: "rock salt", cursive;
  font-size: 14px;
  background:url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
  #ffcd28;
  background-size: 13px, 100%;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}

#search-button {
  transform: rotate(2deg);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  font-family: "rock salt", cursive;
  font-size: 14px;
  background:url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
  #ffcd28;
  background-size: 13px, 100%;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  cursor: pointer;
}

#media-type{
background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
  #fff;
background-size: 12px, 100%;
border:1px solid #222;
box-shadow:3px 3px 0 #222;
font-family: "rock salt", cursive;
transform: rotate(-2deg);
cursor: pointer;

}

#search-results {
  display: flex;
  flex-wrap: wrap;
}


#search-char-page-results {
  text-align: center;
  margin-top: 20px;
}


#go-back{
transform: rotate(-3deg);
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  font-family: "rock salt", cursive;
  font-size: 14px;
  background:url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
  #ffcd28;
  background-size: 13px, 100%;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}

#search-name{
font-family: "rock salt", cursive;
font-weight: 900;
}

#fav-results{
  display: flex;
  flex-wrap: wrap;
}