.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .bg-image{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-size: cover;
  }
  
  .bubble--highlight {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
      #ffcd28;
    background-size: 13px, 100%;
    font-weight: 700;
  }
  /* for the highlight container always add an exclamation point */
  .bubble--highlight:after {
    content: "!";
  }

.bubble {
  border-radius: 5px;
  max-width: 500px;
  /* give ample whitespace around and inside of the container */
  margin: 2rem 0;
  padding: 0.2rem 1.25rem;
  text-align: center;
  font-family: "rock salt", cursive;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  /* solid border */
  border: 2px solid #000;
  /* position relative for the :before pseudo element */
  position: relative;
}

#search-input {
    width: 70%;
    padding: 10px;
    font-size: 20px;
    background:#ddd;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;
    /* margin: 5px; */
    border-radius: 5px;
}

#favorites-button {
  transform: rotate(2deg);
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    font-family: "rock salt", cursive;
    font-size: 14px;
    background:url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
    background-size: 13px, 100%;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;
    margin-left: 20px;
    margin-top: 5px;
}

#search-button {
    transform: rotate(2deg);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-family: "rock salt", cursive;
    font-size: 14px;
    background:url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
    background-size: 13px, 100%;
    border:1px solid #222;
    box-shadow:3px 3px 0 #222;
}

#media-type{
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
  font-family: "rock salt", cursive;
  transform: rotate(-2deg);

}

#search-results {
    text-align: left;
    margin-top: 20px;
}